<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronic Water Control</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="titulo">Sistema Automatizado de Control de Agua</h1>
        <div class="container-todo">
            <div class="section-left">
                <div class="tanque">
                    <h4>Control del Volumen del Agua</h4>
                    <h5>Cantidad máxima: 3L</h5>
                    <div class="deposito">
                        <p id="volumen-medido">Volumen actual: Desconocido</p>
                    </div>
                </div>
                <div class="medir">
                    <button type="button" class="btn btn-primary" onclick="medirVolumen()">Medir Volumen</button>
                </div>
            </div>
            <div class="section-rigth">
                <div class="bomba">
                    <h4 class="subtitulo">Control de la Bomba de Agua</h4>
                    <div class="control-bomba">
                        <p id="motor-status">Estado de la Bomba: <span class="text-secondary">Desconocido</span></p>
                        <div class="btn-group" role="group">
                            <button class="btn-success" id="btn-on" onclick="controlMotor('1')">Encender Bomba</button>
                            <button class="btn-danger" id="btn-off" onclick="controlMotor('A')">Apagar Bomba</button>
                        </div>
                    </div>
                </div>
                <div class="valvula">
                    <h4 class="subtitulo">Control de la Válvula</h4>
                    <div class="control-valvula">
                        <p id="valvula-status">Estado de la Válvula: <span class="text-secondary">Desconocido</span></p>
                        <div class="btn-group" role="group">
                            <button class="btn-success" id="btn-valve-on" onclick="controlMotor('V')">Abrir Válvula</button>
                            <button class="btn-danger" id="btn-valve-off" onclick="controlMotor('0')">Cerrar Válvula</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function controlMotor(action) {
            fetch('/control_motor', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                body: new URLSearchParams({ action: action })
            })
            .then(response => response.json())
            .then(data => {
                if (action === '1' || action === 'A') {
                    document.getElementById('motor-status').textContent = `Estado de la Bomba: ${data.status}`;
                } else if (action === 'V' || action === '0') {
                    document.getElementById('valvula-status').textContent = `Estado de la Válvula: ${data.status}`;
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function medirVolumen() {
            fetch('/medir_volumen', { method: 'GET' })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('volumen-medido').textContent = `Volumen actual: ${data.volumen} L`;
                })
                .catch(error => console.error('Error:', error));
        }

        window.onload = () => {
            medirVolumen();
            controlMotor('estado'); 
        };
    </script>
</body>
</html>